
@model IEnumerable<FulfillmentCenterSoftware.Models.Product>
<div class="row pb-3">
    <h1>Oniks</h1>
    @*@foreach (var product in Model)
    {
        <div>
            <a>@product.Name</a>
            <a>@product.Price</a>
        </div>
    }*@
    @*@foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:whitesmoke; border-radius: 5px;">
                    <div class="card">
                        <img src="@product.PicUrl" class="card-img-top rounded card-image" onclick="return confirm('Just Function - @product.Name')" />
                        <div class="card-body">
                            <p class="card-title h5 text-bg-primary" style="border-radius: 5px"> &nbsp;@product.Name</p>
                            <p class="card-title  text-bg-info" style="border-radius: 5px"> &nbsp;by @product.Description</p>
                            <p class="card-title  text-bg-info" style="border-radius: 5px"> &nbsp; list price £ @product.Price</p>
                        </div>
                        <div class="btn-info text-end"style="border-radius: 5px">
                            $1$<a asp-controller="Home" asp-action="MoreInfo" asp-route-productId="@product.Id">
                                <button class="btn btn-primary">More Info</button>
                                &nbsp;
                                <a asp-controller="Cart" asp-action="Index" asp-route-productId="@product.Id">
                                    <button class="btn btn-primary">Buy now</button>

                                </a>
                            </a>#1#
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }*@
</div>
